<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartMoney</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/smartmoney.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <header class="col-12">
                <img src="~/img/logo.svg" alt="Logo" />
            </header>
        </div>
        <main role="main" class="row bg-white">
            <div class="col-6">
                <h1 class="">Assuma o comando das suas finanças.</h1>
                <img class="img-fluid" src="~/img/finance-staff.svg" alt="Ilustração personal de finanças" />
            </div>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
